<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Snake details</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="/snake/all" class="btn btn-success">back to snake list</a>
    <a href="/" class="btn btn-success">back to main page</a>
</nav>
<div class="container">
    <table class="table">
        <!--<caption th:text="'Last 5 feeding for' + ${snake.breedingNumber} + ${snake.morph}"/>-->
        <thead class="thead-dark">
        <tr>
            <th scope="col">Food type</th>
            <th scope="col">Food size</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date</th>
            <th scope="col">Note</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="feeding, iterStat : ${last5}">
            <td th:text="${feeding.food.type}"></td>
            <td th:text="${feeding.food.size}"></td>
            <td th:text="${feeding.quantity}"></td>
            <td th:text="${feeding.date}"></td>
            <td th:text="${feeding.note}"></td>
            <td>
                <a th:href="@{'/feeding/' + ${feeding.id} + '/edit'}">Edit</a>
                <a th:href="@{'/feeding/' + ${feeding.id} + '/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<div class="container">
    <div style="width:75%;">
        <canvas id="canvas"></canvas>
    </div>
    <div class="container">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var weights = /*[[${listWeight}]]*/ 'default';
            var dates = /*[[${listDate}]]*/ 'default';
            /*]]>*/
        </script>

        <script>
            var config = {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [
                        {
                            label: 'Weights',
                            data: weights
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: true,
                    title: {
                        display: true,
                        text: 'History of weight'
                    }
                }
            };
            window.onload = function() {
                var ctx = document.getElementById('canvas').getContext('2d');
                window.myLine = new Chart(ctx, config);
            };
        </script>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</body>
</html>